.image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }

  span.unknownword {
    background-color: #35d4fc;
  }

  span.knownword {
    background-color: white;
  }

  span.learningword {
    background-color: #f5f76d;
  }
